.app{
    min-height: 100vh;
    height: 1px;
    main{
        display: flex;
        height: 100%;
        .dashboard{
            
            max-width: 1400px;
            margin: 50px auto;
            .textUser{
                h1{
                    font-size: 48px;
                    margin: 0;
                    .firstName{
                        color: #ff0101;
                    }
                }

                p{
                    margin-top: 30px;
                    font-size: 18px;
                }
            }
            .detailsUser{
                display: flex;
                justify-content: space-between;
                gap: 40px;
            }
        }
        .rowChart{
            display: flex;
            gap: 30px;
        }
    }
}