.errorPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .error{
        font-size: 200px;
        font-weight: bold;
        text-align: center;
        color: #ff0101;
    }
    .text{
        font-size: 30px;
    }
}